.header {
  display: flex;
  height: 32px;
  padding: 8px 14px;
  align-items: center;
  justify-content: space-between;
  background: rgba(#1677ff, 0.2);

  h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
}
